# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
.venv
venv

# Ignore local development configuration files
*.local

# Ignore test files
tests/
*.test.py

# Ignore any other sensitive or unnecessary files
*.log
*.sqlite3